html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)    
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Open+Sans+Condensed:wght@300;700&display=swap" rel="stylesheet")
        title="Big Theatre"
    body
        .wrapper
            header.header
                .container
                    .header__inner
                        nav.nav
                            .burger
                                button(class="burger__button _icon-burger")
                                .burger__body
                                    button(class="burger__close-btn _icon-close")
                                    .burger__lists-wrap
                                        ul.burger__menu-list 
                                            li.burger__menu-item
                                                a(class="burger__menu-link" href="#")="Главная"
                                            li.burger__menu-item
                                                a(class="burger__menu-link" href="#")="о театре"
                                            li.burger__menu-item
                                                a(class="burger__menu-link" href="#")="Наши постановки"
                                            li.burger__menu-item
                                                a(class="burger__menu-link" href="#")="партнеры театра"
                                            li.burger__menu-item
                                                a(class="burger__menu-link" href="#")="контакты"
                                        ul.burger__social-list
                                            li.burger__social-item
                                                a(class="_icon-facebook" href="#") 
                                            li.burger__social-item
                                                a(class="_icon-instagram" href="#")
                                            li.burger__social-item
                                                a(class="_icon-youtube" href="#") 
                                            li.burger__social-item
                                                a(class="_icon-vk" href="#") 
                            ul.nav__menu-list 
                                li.nav__menu-item
                                    a(class="nav__menu-link p-18b" href="#")="Главная"
                                li.nav__menu-item
                                    a(class="nav__menu-link p-18b" href="#")="о театре"
                                li.nav__menu-item
                                    a(class="nav__menu-link p-18b" href="#")="Наши постановки"
                                li.nav__menu-item
                                    a(class="nav__menu-link p-18b" href="#")="партнеры театра"
                                li.nav__menu-item
                                    a(class="nav__menu-link p-18b" href="#")="контакты"
                            .nav__phone
                                a(class=".header__phone-link p-16b" href="tel:+74951234567")="+7 495 123-45-67"
                        .header__content
                            .header__text-block
                                h1.header__title="Большой театр"
                                p.header__text Большо́й теа́тр — петербургский театр, существовавший в 1784—1886 годах, с&nbsp;1886 года — Петербургская консерватория. Первое постоянное в Санкт&#8209;Петербурге, крупнейшее в России и одно из крупнейших театральных зданий в Европе XVIII.
                                button(class="header__button button")="Афиша"
                            .header__slider
                                .header__slider-content
                                    .header__slider-front-img
                                        img(src="/assets/img/slider-img.jpg", alt="poster")
                                    .header__slider-back-img
                                        .header__slider-back-img-blur
                                        img(src="/assets/img/slider-img.jpg", alt="poster")
                                .header__slider-buttons
                                    button(class="header__slider-button header__slider-button_prev p-18b")
                                        span(class="header__slider-arrow _icon-arrow-left")
                                        span="Пред"
                                    button(class="header__slider-button header__slider-button_next p-18b")
                                        span="След"
                                        span(class="header__slider-arrow _icon-arrow-right")
            main.main
                section.about
                    .container
                        .about__inner
                            h2.section-header
                                span="О "
                                !="Театре"
                            .about__content
                                .about__description
                                    h5(class="about__title b-21b")="Самый лучший театр СПБ"
                                    p.about__text="Как свидетельствуют архивные документы, первое каменное здание Большого театра начали возводить в 1775 году по проекту Антонио Ринальди. В дальнейшем, после того как Ринальди упал с лесов и не мог лично наблюдать за ходом работ, Екатерина II поручила немецкому театральному декоратору и архитектору Людвигу Филиппу Тишбейну создать новый проект театра, который и был воплощён архитекторами Ф. В. фон Бауром и М. А. Деденёвым. Открытие его состоялось в 1783 году, хотя, основываясь на других свидетельствах, годом открытия можно считать 1784 год."
                                .about__numbers
                                    h5(class="about__title b-21b")="Немного о цифрах"
                                    .about__numbers-list
                                        .about__numbers-item
                                            div(class="about__numbers-icon _icon-chair")
                                            div(class="about__numbers-text p-16b")
                                                span="1600 "
                                                !="посадочный мест"
                                        .about__numbers-item
                                            div(class="about__numbers-icon _icon-theater")
                                            div(class="about__numbers-text p-16b")
                                                span="350 "
                                                !="лет истории"
                                .about__image
                                    img(src="/assets/img/about.jpg", alt="theatre")
                section.performances
                    .container
                        h2.section-header
                            span="Наши "
                            !="Постановки"
                    .fluid-container
                        .performances__inner
                            .performances__slider
                                .performances__slider-track
                                    .performances__slide
                                        .performances__hover
                                            button.performances__hover-circut
                                                span._icon-search
                                        .performances__slide-info
                                            h3.performances__slide-title="Оскар 2020"
                                            p(class="performances__slide-date p-18b")="Сентябрь 2020"
                                        img.performances__slide-img(src="/assets/img/slide1.jpg", alt="slide")
                                    .performances__slide
                                        .performances__hover
                                            button.performances__hover-circut
                                                span._icon-search
                                        .performances__slide-info
                                            h3.performances__slide-title="Оскар 2020"
                                            p(class="performances__slide-date p-18b")="Сентябрь 2020"
                                        img.performances__slide-img(src="/assets/img/slide2.jpg", alt="slide")
                                    .performances__slide
                                        .performances__hover
                                            button.performances__hover-circut
                                                span._icon-search
                                        .performances__slide-info
                                            h3.performances__slide-title="золотой грамофон"
                                            p(class="performances__slide-date p-18b")="Июль 2020"
                                        img.performances__slide-img(src="/assets/img/slide3.jpg", alt="slide")
                                    .performances__slide
                                        .performances__hover
                                            button.performances__hover-circut
                                                span._icon-search
                                        .performances__slide-info
                                            h3.performances__slide-title="Щелкунчик"
                                            p(class="performances__slide-date p-18b")="Май 2020"
                                        img.performances__slide-img(src="/assets/img/slide4.jpg", alt="slide")

                section.testimonials
                    .container
                        .testimonials__inner
                            .testimonials__body
                                .testimonials__dates
                                    ul.testimonials__date-list
                                        li.testimonials__date-item="2018"
                                        li.testimonials__date-item="2019"
                                        li.testimonials__date-item="2020"
                                .testimonials__rate
                                    ul.testimonials__rate-list
                                        li.testimonials__rate-item
                                            span._icon-star
                                        li.testimonials__rate-item
                                            span._icon-star
                                        li.testimonials__rate-item
                                            span._icon-star
                                        li.testimonials__rate-item
                                            span._icon-star
                                        li.testimonials__rate-item
                                            span._icon-star
                                    p.testimonials__rate-text Лучший театр по&nbsp;мнению театральных критиков Парижа
                section.partners
                    .container
                        .partners__inner
                            h2.section-header
                                span="Партнеры "
                                !="Театра"
                            ul.partners__list
                                li.partners__item
                                    a(class="partners__link" href="#")
                                        img(src="/assets/img/logo.svg", alt="partner")
                                li.partners__item
                                    a(class="partners__link" href="#")
                                        img(src="/assets/img/logo.svg", alt="partner")
                                li.partners__item
                                    a(class="partners__link" href="#")
                                        img(src="/assets/img/logo.svg", alt="partner")
                                li.partners__item
                                    a(class="partners__link" href="#")
                                        img(src="/assets/img/logo.svg", alt="partner")
                                li.partners__item
                                    a(class="partners__link" href="#")
                                        img(src="/assets/img/logo.svg", alt="partner")
                                li.partners__item
                                    a(class="partners__link" href="#")
                                        img(src="/assets/img/logo.svg", alt="partner")
                                li.partners__item
                                    a(class="partners__link" href="#")
                                        img(src="/assets/img/logo.svg", alt="partner")
                                li.partners__item
                                    a(class="partners__link" href="#")
                                        img(src="/assets/img/logo.svg", alt="partner")
                section.donate
                    .container
                        .donate__inner
                            h2.section-header
                                span="Стать "
                                !="Меценатом"
                            .donate__body
                                .donate__contacts
                                    ul.donate__contacts-list
                                        li(class="donate__contacts-item p-16b")
                                            a(class="donate__contacts-link" href="tel:+78121234555")="+7 (812) 123-45-55"
                                        li(class="donate__contacts-item p-16b")
                                            a(class="donate__contacts-link" href="tel:+78121234566")="+7 (812) 123-45-66"
                                        li(class="donate__contacts-item p-16b")
                                            a(class="donate__contacts-link" href="mailto:info@theater.ru")="info@theater.ru"
                                        li(class="donate__contacts-item p-16b")
                                            span="г. санкт-петербург, невский 140"
                                .donate__form-wrap
                                    form(class="donate__form" method="post")
                                        fieldset.donate__form-inputs
                                            input(class="donate__form-input", type="text", placeholder="Имя")
                                            input(class="donate__form-input", type="text", placeholder="Компания")
                                            input(class="donate__form-input", type="text", placeholder="Телефон")
                                            input(class="donate__form-input", type="text", placeholder="Email")
                                        textarea#message(class="donate__form-textarea", name="message", placeholder="Сообщение") 
                                        .donate__form-info
                                            p="* Ваши данные не будут переданы третьим лицам, 100% вероятность. Конфиденциальность мы гарантируем, и защищаем персональные данные согласно законку ФЗ-52."
                                        .donate__form-button
                                            input(class="button" type="submit" value="Отправить")
                                            
            footer.footer
                .container
                    .footer__inner
                        span.copyrate="(с) Все права защищены. Большой театр. 2020"
                        span.author="Design by d-e-n.ru. Developed by Olegexe"